body{
    max-width:1440px;
    margin:0 auto;
    background-color: #F5F8FF;
}
/*fonts*/
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
/*font style end*/
/**/
/**/
button:hover{
    font-size:17px;
    font-weight:bold;
    background-color: #3cf018;
    white-space: nowrap;
}
/*full banner part*/
.header-class{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:1440px;
    height:698px;
    margin:0px;
}
/*top of banner part*/
.nav-class{
    display:flex;
    text-align:center;
    width:1140px;
    height:151px;
    margin:0px 150px 158px 150px
}
.logo{
    font-weight: 900 ;
    font-size: 34px;
    color: #4E47FF;
    width:99px;
    height:51px;
    margin:50px 894px 50px 0px;
}
.button-sign-up{
    font-weight: bold;
    text-align:center;
    font-size: 16px;
    background-color:#4E47FF;
    color:white;
    width: 139px;
    height:48px;
    padding:12px 36px;
    border-radius: 10px;
    border:none;
    display:inline-block;
}
.button-stay-focused{
    font-weight: bold;
    text-align:center;
    font-size: 16px;
    background-color:#4E47FF;
    color:white;
    width: 174px;
    height:48px;
    padding:12px 36px;
    border-radius: 10px;
    border:none;
    display:inline-block;
}
.shared-button-a{
    margin:51.5px 152px 51.5px 0px;
}
.shared-button-b{
    margin-top:37px;
    margin-right:365.5px;
    margin-left:365.5px;
}
.div-banner-bottom{
    height:237px;
    width:905px;
    margin:0px 267.5px 0px 267.5px;
    text-align: center;
}
.banner{
    height:152px;
    font-size: 65px;
    font-weight: bolder;
}
/*banner part closed*/
/**/
/**/
/*action part started*/
.div-action{
    width: 1140px;
    max-height:328px;
    margin:116px 159px 116px 141px;
    display:flex;
}
.action-left{
    width:517px;
    height:203px;
    text-align:left;
    margin:62.5px 220px 62.5px 0px;
}
.action-left-heading{
    width:517px;
    height:49px;
    font-weight:bold;
    font-size:42px;
    margin-bottom: 23px;
}
.action-left-text{
    width:517px;
    height:60px;
    font-size: 24px;
    color:#252432;
    margin-bottom:23px;
}
.button-live-launch{
    font-weight: bold;
    text-align:center;
    font-size: 16px;
    background-color:#4E47FF;
    color:white;
    width: 229px;
    height:48px;
    padding:12px 36px;
    border-radius: 10px;
    border:none;
    display:inline-block;
}
.action-picture{
    width:403px;
    height:328px;
    border-radius:48px;
    background-image:url('../Assets/wc-big.png');
}
/*action part closed*/
/**/
/**/
/*productive user section*/
.p-user-sec{
    width:1140px;
    height:306px;
    margin:0px 149px 137px 151px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius:24px;
    padding-top:50px;/*border-collapsing if user section don't have a border*/
}
.p-user-sec-h_ing{
    width:856px;
    height:45px;
    font-size:38px;
    font-weight:bold;
    color:#252432;
    text-align:center;
    margin:0px 142px 40px 142px;
}
.container{
    width:856px;
    height:121px;
    margin:0px 142px 50px 142px;
    display:flex;
    gap:158px;
}
.p-user-sec-end{
    width:180px;
}
.p-title{
    color:#4E47FF;
    font-weight: 850;
    font-size:80px;
    text-align: center;
}
.p-text{
    font-weight:normal;
    font-size:20px;
    color:rgba(0, 0, 0, 0.5);
    text-align:center;
}
/*section ends here*/
/*/
/*/
/*What our users say*/
.users-say{
    width: 1140px;
    height:342px;
    margin:0px 149px 137px 151px;
    background-color: #F5F8FF;
}
.review-heading{
    width:1140px;
    height:49px;
    font-weight: bold;
    font-size:42px;
    text-align:center ;
    margin-bottom:50px;
}
.review-cards-container{
    width: 1140px;
    height:243px;
    gap:20px;
    display: flex;
}
.cards{
    width:366.67px;
    max-height:243px;
    background-color: rgb(255, 255, 255);
    border-radius:14px;
    padding:24px;
}
.star{
    display:flex;
    width:116px;
    height:20px;
}
.card-heading{
    width:221px;
    height:29px;
    font-weight:600;
    font-size:24px;
    text-align:left;
    margin-top:24px;
    margin-bottom: 8px;
}
.card-text{
    width:318.67px;
    height:44px;
    font-size: 16px;
    font-weight:400;
    margin-bottom: 24px;
}
.comment{
    width:318.67px;
    height:46px;
    display: flex;

}
.image{
    height: 40px;
    width: 40px;
    border-radius: 90%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 6px;
}
.r-name{
    width:260px;
    height:22px;
    margin-left:12px ;
    font-weight:600;
    font-size:16px;
    color:#757575;
}
.r-date{
    width:260px;
    height:22px;
    margin-left:12px ;
    font-weight:400;
    font-size:16px;
    color:#B3B3B3;
}
/*What our users say part ends here*/
/**/
/**/
/*Ready to focus better*/
.closing{
    width:1140px;
    max-height:686.77px;
    padding:71px 150px;
    margin-bottom: 92.33px;
    background-color: white;
    border-radius: 14px;
}
.closing-heading{
    font-weight:bold;
    font-size: 50px;
    width: 516px;
    height: 60px;
    margin-right:312px;
    margin-left:312px;
    margin-bottom:20px;

}
.closing-text{
    width: 487px;
    height:22px;
    color:rgba(0, 0, 0,0.5);
    font-size:16px;
    font-weight: 400;
    margin-left:326.5px;
    margin-right:326.5px ;
    margin-bottom:20px;
}
.button-c{
    padding-left:472.5px;
    padding-right:472.5px;
}
.button-new{
    font-weight: 400;
    text-align:center;
    font-size: 16px;
    background-color:#4E47FF;
    color:white;
    width: 195px;
    height:48px;
    padding:12px 36px;
    border-radius: 10px;
    border:none;
    display:inline-block;
}
.pic{
    width: 840px;
    height:364.77px;
    border-radius: 48px;
    margin:20px 150px 0px 150px;
    overflow: hidden;
}
/**/
/**/
/*feedback form */
.feedback{
    width:1140px;
    height:632px;
    display:flex;
    border: 1px solid red;;

}
.feedback-heading{
    max-width:528px;
    height:232px;
    font-weight: bolder;
    font-size:97px;
    margin: 200px 0px 200px 0px;
    border:1px solid rgb(182, 115, 14);
}
.feedback-form{
    width:497px;
    height: 490px;
    margin:71px 0px 71px auto;
    border:2px solid red;
}
/**/
/**/
/*input form css*/
input[type="text"]{
    width:497px;
    height:70px;
    border:1px solid rgba(128, 128, 128,0.5);
    border-radius:10px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:32px;
}
/**/
/**/
.footer{
    width:1440px;
    height:428px;
    background-color: white;
    border:1px solid rgb(170, 162, 162);

}
.footer-heading{
    width:291px;
    height:121px;
    font-weight: 900 ;
    font-size: 100px;
    color: #4E47FF;
    margin:104px 575px 8px 574px;
      border:1px solid black;
}
.footer-text{
    width:531px;
    height:48px;
    margin:0px 455px 20px 455px;
    text-align: center;
    border:1px solid black;
}
.footer-end{
    max-width:531px;
    height:48px;
    margin:0px 520px 103px 520px;
    border:1px solid black;
}
ul li{
    list-style:none;
}
ul{
    display:flex;
    justify-content: space-between;
}